.light-background {
    min-height: 100vh;
}

.table_title {
    padding: 50px 16px;
}

.search-container, .list-container {
    margin: 5px 0;

}

.title {
    color: var(--text-color);
}

.card {
    background-color: var(--background-color);
    margin-bottom: 10px;
    color: var(--text-color);
    border-color: var(--border-color);
}

.card-header {
    border-color: var(--border-color);
}

.card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-text {
    margin-right: 10px;
}

.card-body-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.filter-btn {
    background-color: var(--background-color);
    color: var(--text-filter);
    border-color: var(--text-filter);
}

.form-control {
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--text-color);
}

.dropdown-menu {
    background-color: var(--background-color);
    
}

label {
    color: var(--text-color);
}

.btn-outline-custom {
    margin: 7px 10px 7px 0;
}

.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.btn-outline-custom:hover {
    background-color: #d48714;
}

.form-control {
    margin-bottom: 7px;
    margin-right: 8px;
}

.table-container {
    margin: 0 5%;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -10px;
}

.icon {
    stroke: #FFFFFF;
    width: 17px;
    height: 17px;
    fill: #FFFFFF;
    margin: 3px;
}

@media (max-width: 425px) {
    .navbar {
        margin: 0 0.5%;
    }

    .table-container {
        margin: 0 0.5%;
    }

    .card-text {
        margin: 7px 0;
    }

    .card-header {
        padding: 12px;
    }

    .card-body {
        padding: 12px;

    }
}

