.likeButton, .commentButton, .deleteButton {
  border: none;
  background: none;
  padding: 0;
}

.footer {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}

.body:hover {
  cursor: pointer;
}
