.post {
  margin: auto;
  border-radius: 10px;
  min-height: 100px;
  max-width: 600px;
}

.likeButton, .commentButton, .deleteButton {
  border: none;
  background: none;
  padding: 0;
}

.footer {
  display: flex;
  gap: 20px;
  float: right;
}

.body:hover {
  cursor: pointer;
}
