<div class="d-flex align-items-center">
    <img src="img/logo.png" height="150px">

    <div class="nav-item">
        <a href="catalog.html" class="nav-links">catalog</a>
    </div>
    <div class="nav-item">
        <a href="sales.html" class="nav-links">sales</a>
    </div>
    <div class="nav-item">
        <a href="certificates.html" class="nav-links">certificates</a>
    </div>
    <div class="nav-item ms-auto">
        <a href="" class="nav-links"><img src="img/cart1.png" height="75px"></a>
    </div>
    <div class="nav-item ms-auto" style="padding-right: 100px;">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-reg" class="nav-links">
          <h3 class="nav-text">sign in</h3>
        </a>
    
        <div class="modal fade modal-reg" id="modal-reg" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color:#4A4A4A;">Login</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <label for="emailLogin" style="padding-left: 10px;padding-bottom: 5px;color:#4A4A4A;">Email</label>
                        <input style="border-radius: 20px;margin-bottom: 10px;" type="email" class="form-control" id="emailLogin" name="email"
                      autocomplete="on">
                      <label for="passwordlLogin" style="padding-left: 10px;padding-bottom: 5px;color:#4A4A4A;">Password</label>
                      <input style="border-radius: 20px;" type="password" autocomplete="on" class="form-control" id="passwordLogin" name="password"
                      style="padding-top: 5px; margin: auto;margin-top: 10px">
                    </form>
                    <div style="padding-top: 15px;padding-left: 10px;">
                      dont have an account? <a href="register.html">  sign up</a>
                    </div>
                    
                </div>
                
                <div >
                    <hr>
                  <button type="submit" class=" btn-login" id = "loginButton">login</button>
                </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>