@import url(MyStyleO.css);

.card-footer{
  font-size: small;
  padding: 5px;
  background-color: var(--color3);
}

.card-header{
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-body{
  padding: 9px;
}

.card{
  background-color: var(--color3);
  color: var(--color4);
}

.content-dividing-line{
  border: none; /* Убираем границу для браузера Firefox */
  color: var(--color2); /* Цвет линии для остальных браузеров */
  background-color: var(--color2); /* Цвет линии для браузера Firefox и Opera */
  height: 10px; /* Толщина линии */
}

.a-non-color-href{
  color: var(--color4);
  text-decoration: none;
}

.a-non-color-href:hover{
  color: var(--color4);
  text-decoration: none;
}
