:root{
    --color1: #442F38;
    --color2: #FA824C;
    --color3: #305252;
  
    --color4: #F4F2F3;
  
    --color5: #694D75;
    --color6: #81968F;
  
    --color7: #6B4B3E;
    --color8: #FFD659;
    --color9: #442F38;
  
    --color11: #3F784C;
    --color12: #C17817;
  }