
  body{
    color: var(--color4);
    background: url(../img/pattern3.png), var(--color1);
    background-size: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .btn-my-main {
    --bs-btn-color: var(--color4);
    --bs-btn-bg: var(--color2);
    --bs-btn-border-color: var(--color3);
    --bs-btn-hover-color: var(--color4);
    --bs-btn-hover-bg: var(--color1);
    --bs-btn-hover-border-color: var(--color1);
    --bs-btn-active-color: var(--color4);
    --bs-btn-active-bg: var(--color1);
    --bs-btn-active-border-color: var(--color1);
  }

  header, section, footer{
    background-color: var(--color3);
    padding: 1%;
    margin-bottom: 2%;
  }

  .justify-s-a{
    display: flex;
    justify-content: space-around;
  }
  
  .justify-f-e{
    display: flex;
    justify-content: flex-end;
  }
  
  .justify-f-s{
    display: flex;
    justify-content: flex-start;
  }
  
  .justify-s-b{
    display: flex;
    justify-content: space-between;
  }
  
  .justify-c{
    display: flex;
    justify-content: center;
  }  