.signupContainer {
  height: 100vh;
}

.signupForm {
  width: 320px;
}

.formEmail {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.formPassword {
  margin-bottom: -1px;
  border-radius: 0;
}

.formRetypePassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}