/* Общие стили */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Стили для формы */
.form-group {
    margin-bottom: 15px;
}

.search-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Стили для списка песен */
.song-list {
    /* стили для списка песен */
}
