.search {
  display: flex;
  height: 100vh;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  font-size: 3rem;
  background-color: #3c3c5b;
  color: #fff;
  gap: 2rem;
}

.search-users_list {
  padding: 10px;
  background-color: #3c3c5b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
}

.search-field {
  padding: 1rem;
}
.search-field-input {
  border-radius: 12px;
  background-color: #3c3c5b;
  color: #fff;
  cursor: pointer;
  width: 12rem;
}

.custom-button {
  color: #fff;
  background-color: #3c3c5b;
  border: none;
  border-radius: 0.375rem;
  padding: 6px 12px;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #555577;
}

.text-limit {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-text-limit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
