body {
    padding-top: 80px;
    background-color: #fff
}


.navbar-brand {
    font-weight: bold;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;

}

.mb-3 {
    font-weight: bold;
}

.text-center {
    color: rgb(24, 184, 247);
    padding-bottom: 30px;
}

.info-box,
.history-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-header strong {
    font-size: 18px;
    margin-right: 10px;
}

.history-date {
    font-size: 14px;
    color: #666;
}

.history-details {
    margin-top: 10px;
}

.avatar {
    position: absolute;
    top: 110px;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.login-button2 {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 70px;
    border-radius: none;
    cursor: pointer;


}

.login-button3 {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 79px;
    border-radius: none;
    cursor: pointer;

}

.login-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;

}


.form-label {
    display: flex;
    align-items: center;

}


.login-button2:hover,
.login-button3:hover {
    opacity: 0.8;

}