.wrapper
    width: 100%
    height: 108px
    display: flex
    flex-direction: row
    gap: 76px
    align-items: center
    justify-content: center
    border-bottom: #807D7E solid 1px

    img
        width: 91px
        height: 45px
        cursor: pointer

    .categories
        display: flex
        flex-direction: row
        gap: 40px

        button
            font-size: 18px
            font-weight: medium
            cursor: pointer
            background-color: white
            border: none

    input
        width: 267px
        height: 44px
        border-radius: 8px
        border: none
        background-color: #F6F6F6
        padding-left: 20px

    .headerBtns
        display: flex
        flex-direction: row
        gap: 12px

        button
            width: 44px
            height: 44px
            background-color: #F6F6F6
            border-radius: 8px
            align-items: center
            display: flex
            justify-content: center
            cursor: pointer
            border: none

        img 
            width: 20px
            height: 20px


