@import './base.css';


#app {
  font-weight: normal;
}

nav a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

h1 {
  color: hsla(160, 100%, 37%, 1);
}

