:root{
  --color1: #499441;
  --color2: #66CDAA;
  --color3: #FFFF00;
  --color4: #FFFFFF;
  --color5: #246b1e;
  --color6: #17a8174d;
  --color7: #1f8e1787;
}

.btn-my-lightgreen{
  --bs-btn-color: var(--color4);
  --bs-btn-bg: var(--color1);
  --bs-btn-border-color: var(--color1);
  --bs-btn-hover-color: var(--color4);
  --bs-btn-hover-bg: var(--color5);
  --bs-btn-hover-border-color: var(--color1);
  --bs-btn-active-color: var(--color4);
  --bs-btn-active-bg: var(--color5);
  --bs-btn-active-border-color: var(--color5);
  --bs-btn-disabled-color: var(--color4);
  --bs-btn-disabled-border-color: var(--color7);
  --bs-btn-disabled-bg: var(--color7);
}

.btn-my-lightgreen-outline{
  --bs-btn-color: var(--color1);
  --bs-btn-bg: var(--color4);
  --bs-btn-border-color: var(--color1);
  --bs-btn-hover-color: var(--color4);
  --bs-btn-hover-bg: var(--color5);
  --bs-btn-hover-border-color: var(--color1);
  --bs-btn-active-color: var(--color4);
  --bs-btn-active-bg: var(--color5);
  --bs-btn-active-border-color: var(--color5);
}

.btn-my-lightgreen-outline-v2{
  --bs-btn-color: var(--color1);
  --bs-btn-bg: var(--color4);
  --bs-btn-border-color: var(--color1);
  --bs-btn-hover-color: var(--color4);
  --bs-btn-hover-bg: var(--color1);
  --bs-btn-hover-border-color: var(--color1);
  --bs-btn-active-color: var(--color4);
  --bs-btn-active-bg: var(--color1);
  --bs-btn-active-border-color: var(--color1);
}

.change-dropdown-menu-lightgreen{
  background-color: var(--color4);
  --bs-dropdown-link-active-bg: var(--color1);
}

.change-border-lightgreen{
  border-color: var(--color1);
}

.change-bg-verylightgreen{
  background-color: var(--color6);
}

.change-box-shadow-lightgreen:focus{
  border-color: var(--color7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--color6);
  outline: 0 none;
}