* {
    font-family: "Montserrat";
}

.nav-item {
    margin: 0 10px;
}

.navbar {
    margin: 0 5%;
}

.bg-dark {
    background-color: var(--nav-color);
}

.nav-link {
    color: #ffffffc2;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: white;
}

.background-image {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    min-height: 100vh;
    width: 100vw;
}

.light-background {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    padding-bottom: 30px;
}


.main-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 85vh;
    margin: 0 5%;
}


.lead {
    text-align: center;
    margin: 20px;
}

.btn-custom {
    background-color: #8f2313;
    border-color: #8f2313;
    color: white;
    margin: 7px 0;
    height: auto;
}

.btn-custom:hover {
    background-color: #eeaf51;
}

.btn-outline-custom {
    border-color: #8f2313;
    color: #8f2313;
    background-color: white;
    margin: 7px 0;
}

.btn-outline-custom:hover {
    background-color: #d48714;
}

@media (max-width: 425px) {
    .navbar {
        margin: 0 0.5%;
    }

    .display-4 {
        font-size: 36px;
    }

    .lead {
        font-size: 18px;
    }

}