.App {
  text-align: center;
  background-color: var(--body-background);
}

.name{
  display: flex;
  align-items: center;
}

.main-container{
  background-color: var(--body-background);
  color: var(--body-text);
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 12px;
  min-height: calc(100vh - 78px);
}

.full-page-div {
  height: calc(100vh - 66px);
}

.theme-button{
  border: none;
  background-color: #000;
  margin-right: 6px;
}

.form {
  margin-top: 24px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: auto;
  max-width: 700px;
  padding: 20px 20px;
}

.error-massege {
  color: red
}

.cell-body{
  text-align: left;
  background-color: var(--body-background);
  color: var(--body-text);
}
.text{
  color: var(--body-text);
}

.md-none{
  @media (min-width: 768px) {
    display: none;
  }
}

.header{
  background-color: var(--header-backgrond);
}

.link{
  color: var(--header-text);
  text-decoration: none;
}

.item-container{
  display: flex;
  gap: 12px;
}

.button{
  @media (max-width: 767.9px) {
    margin-top: 12px;
  }
}

.md-block{
  @media (max-width: 767.9px) {
    display: none;
  }
}


.Text {
  color: rgb(133, 133, 133);
  margin-top: 12px;
}

.avatar {
  display: flex;
  border-radius: 50%;
  object-fit:cover;
}

.search-div{
  background-color: var(--body-background);
  color: var(--body-text);
}

.Icon {
  height: 40px;
  width: 40px;
}

/* svg {
  height: 40px;
  width: 40px;
} */

