
<div class="d-flex align-items-center justify-content-between">
    <img src="img/logo.png" height="150px">
<div style="margin-left: 15%;"></div>
    <div class="nav-item" style="color: white; font-size: x-large;text-align: center;white-space: nowrap;">
        
        +7 (961) 972-78-78<br>
        Ежедневно 10:00 - 22:00
    </div>
    <div class="d-flex footer-img">
        
        <div class="nav-item">
            <img src="img/inst.png">
        </div>
        <div class="nav-item">
            <img src="img/vk.png">
        </div>
        <div class="nav-item">
            <img src="img/tg.png">
        </div>

    </div>
</div>
