<div class="d-flex align-items-center">
  <img src="img/logo.png" height="150px">

  <div class="nav-item">
    <a href="catalog.html" class="nav-links">catalog</a>
  </div>
  <div class="nav-item">
    <a href="sales.html" class="nav-links">sales</a>
  </div>
  <div class="nav-item">
    <a href="certificates.html" class="nav-links">certificates</a>
  </div>
  <div class="nav-item ms-auto">
    <button onclick="ModalCart.show()" class="nav-links" style="background-color: #4A4A4A;border: none;"><img src="img/cart1.png" height="75px"></button>
  </div>
  <div class="nav-item ms-auto" style="padding-right: 100px;">
    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-reg" class="nav-links">
      <h3 class="nav-text">sign in</h3>
    </a>

  </div>
</div>