.consultation
    min-height: 680px
    padding: 100px 0 92px 0
    background: url('../img/bg2.png') center (center/cover) no-repeat
    &__descr
        margin-top: 10px
        color: #FFF
        font-family: MuseoModerno
        font-size: 20px
        font-style: normal
        font-weight: 500
        line-height: 30px
.feed-form
    margin-top: 10px
    width: 300px
    display: flex
    flex-direction: column
    input
        margin-bottom: 5px
        height: 54px
        padding: 5px 10px
        color: #4B4B4B
        font-family: MuseoModerno
        font-size: 14px
        font-style: normal
        font-weight: 400
        &:nth-last-child(2)
            margin-bottom: 10px
        
        