.profileImage {
  border: none;
  border-radius: 50%;
  width: 200px;
  background-color: #3c3c3c3c;
}

.profileInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postsHeader {
  display: flex;
  gap: 16px;
}

.container {
  margin-top: 70px;
}