:root{
    --color1: #6E0D25;
    --color2: #A7754D;
    --color3: #011627;
  
    --color4: #F4F2F3;
  
    --color5: #0A100D;
    --color6: #81968F;
  
    --color7: #6B4B3E;
    --color8: #FFD659;
    --color9: #442F38;
  
    --color11: #011627;
    --color12: rgb(255, 30, 0);
  }