:root{
    --color1: #F9FBB2;
    --color2: #96BDC6;
    --color3: #81968F;
  
    --color4: #211A1D;
  
    --color5: #FDE2FF;
    --color6: #81968F;
  
    --color7: #6B4B3E;
    --color8: #FFD659;
    --color9: #442F38;
  
    --color11: #3F784C;
    --color12: rgb(255, 30, 0);
  }