@import url(MyStyleO.css);

.card-footer{
  font-size: small;
  padding: 5px;
  background-color: var(--color3);
}

.card-header{
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-body{
  padding: 9px;
}

.card{
  background-color: var(--color3);
  color: var(--color4);
}

.content-dividing-line{
  border: none; /* Убираем границу для браузера Firefox */
  color: var(--color2); /* Цвет линии для остальных браузеров */
  background-color: var(--color2); /* Цвет линии для браузера Firefox и Opera */
  height: 10px; /* Толщина линии */
}

.a-non-color-href{
  color: var(--color4);
  text-decoration: none;
}

.a-non-color-href:hover{
  color: var(--color4);
  text-decoration: none;
}

.btn-my-logout {
  --bs-btn-color: var(--color4);
  --bs-btn-bg: var(--color2);
  --bs-btn-border-color: var(--color3);
  --bs-btn-hover-color: var(--color4);
  --bs-btn-hover-bg: var(--color12);
  --bs-btn-hover-border-color: var(--color12);
  --bs-btn-active-color: var(--color4);
  --bs-btn-active-bg: var(--color12);
  --bs-btn-active-border-color: var(--color12);
}