
.navbar-brand img {
    max-width: 120px;
  }

body {

	font-family: Roboto, sans-serif;
	font-size: 20px;
	color:var( --text-color);
	background-color:var(--bg-color);
	min-width: 320px;

  }

img {

	max-width: 100%;
	height: auto;
}

a {

	color:var( --text-color);

}

a:hover{

	color:var( --hover-color);
}

.navbar-light .navbar-nav .nav-link{

	color: var( --text-color);
	font-weight: 500;
	text-transform: uppercase;

}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {

	content: 0;
	display: block;
	width: 100%;
	background-color:var(--bg-color);
	height: 1px;
	transition: all .3s;
	transform: scale(0);

}

.top-menu li a:hover::after {

	transform: scale(1);

}

form {
	width: 50%;
	margin: 0 auto; 
  }
  
  input {
	width: 100%; 
  }
  
  label {
	display: block; 
  }
  
  .form-check-label {
	margin-left: 0; 
  }

  footer {
	color: var(--text-color);
	font-size:  18px;

  }

  footer:hover{

	color:var( --hover-color);
}

.form-group{
	color: var( --text-color);
	font-size: 20px;
	

}
.mb-3{
	font-size: 18px;
	color: var( --text-color);

}

.square-box {
	border: 1px solid rgb(141, 111, 4);
	padding: 10px;
	display: inline-block;
	color: var(--text-color);
  }

  .btn-primary {
	background-color:var(--bg-color);
	padding: 10px 20px;
	margin-right: 10px;
  }

  .btn-primary:hover {

	background-color:var(--bg-color);
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: auto;
  }
  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
  }
