#container {
    margin: 0 auto;
    background-color: #f8f9fa;
    color: #212529 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0d6efd;
}

.btn-rounded {
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    vertical-align: baseline;
}

.form-profile-item {
    margin-left: 2em;
    margin-top: 0.5em;
}

.img-profile {
    padding: 10px;
    color: #0d6efd;
}

.save-about {
    margin-left: 2em;
    margin-top: 0.5em;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(3.5rem + calc(var(--bs-border-width) * 18));
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
}

.footer-section {
    width: 96vw;
    margin: auto;
    color: #f8f9fa;
    height: auto;
    padding-top: 3%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 3em;
    padding-left: 3em;
}

#login {
    position: relative;
    left: 50px;
}

#register {
    position: relative;
    left: 450px;
    top: -220px;
}

.input-group {
    display: block;
    position: absolute;
    width: 280px;
    transition: .5s;
    background-color: transparent;
}

.hero {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.btn-form-login, .btn-form-register {
    margin-top: 1em;
    margin-left: 0px !important;
    border-radius: 6px !important;
}

.label-remember {
    color: lightslategray;
}

.form-choose-btn {
    margin-left: 16%;
}

.footer-list-item {
    background-color: transparent;
    color: #f8f9fa;
    border: none;
    padding-left: 0;
}


