#container {
    margin: 0 auto;
    background-color: #f8f9fa;
    color: #212529 !important;
    min-height: 100vh;
}

#main {
    margin: auto;
    height: auto;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0d6efd;
}

.btn-rounded {
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.editors-picks-card {
    margin: auto;
    max-width: 856px;
    border: none;
    background-color: #f8f9fa;
    margin-bottom: 63px !important;
}

.group-btn-tags {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.group-btn-tag {
    margin-left: 3em;
    border-radius: 60px;
    width: 105px;
    height: 35px;
    border: 1px solid #212529;
    text-align: center;
}

.group-btn-tag:hover {
    margin-left: 3em;
    border-radius: 45px;
    width: 105px;
    height: 35px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #f8f9fa;
}

.group-btn-tag:focus {
    margin-left: 3em;
    border-radius: 45px;
    width: 105px;
    height: 35px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #f8f9fa;
}



.footer-section {
    width: 96vw;
    margin: auto;
    color: #f8f9fa;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 3em;
    padding-left: 3em;
    margin-top: auto;
    padding-top: 1em;
}

#login {
    position: relative;
    left: 50px;
}

#register {
    position: relative;
    left: 450px;
    top: -240px;
}

.input-group {
    display: block;
    position: absolute;
    width: 280px;
    transition: .5s;
    background-color: transparent;
}

.hero {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.btn-form-login, .btn-form-register {
    margin-top: 1em;
    margin-left: 0px !important;
    border-radius: 6px !important;
}

.label-remember {
    color: lightslategray;
}

.form-choose-btn {
    margin-left: 16%;
}

.footer-list-item {
    background-color: transparent;
    color: #f8f9fa;
    border: none;
    padding-left: 0;
}


