:root {
    --blue: #8a67e2;
    --black: #fff;
    --grey: #515151;
    --grey2: #a7a7a7;
    --white: #000;

    --text-main: #fff;
    --text-second: #949191;
    --text-third: #929292;
    --bg: #232323;
    --bg2: #1c1b1b;
}