:root {
    --blue: #9267ff;
    --black: #000;
    --grey: #515151;
    --grey2: #a7a7a7;
    --white: #fff;
    --text-main: #000;
    --text-second: #515151;
    --text-third: #a7a7a7;
    --bg: #fff;
    --bg2: #f8f9fa;
}