body{
    --blue: #745EE1;
    --black: #000;
    --grey: grey;
    --grey2: #dddddd;
    --white: #fff;
}


html, body{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.scrollspy-example{
    max-height: 650px;
    min-height: 100px;
    margin-top: 0.5rem;
    overflow: auto;
}
.main{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}
.logo{
    width: 100%;
    min-width: 100px;
}
.form-container{
    /*width: auto;*/
}
.form-label{
    font-family: Furore;
}
.form-text, .form-control{
    font-family: Montserrat-Light;
}
.form-check-label, .nav-link{
    font-family: Montserrat-Regular;
}
.btn, .navbar-brand{
    font-family: Montserrat-SemiBold;
}
.btn-primary{
    background: var(--blue);
    border-color: var(--blue);
    width: 100%;
}
.nav-link{
    color: var(--blue);
}
.col{
    width: auto;
}
.resize{
    width: 40px;
    height: 40px;
}

.grey{
    color: var(--grey);
}
.black{
    color: var(--black);
}
.song-container-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.song-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.nav{
    margin-top: 20px;
}
.volume{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    gap: 5px;
}
.audio-track {
    width: 150px;
    height: 3px;
    background-color: var(--grey2);
    margin: 20px 0
}

.time {
    width: 0;
    height: 3px;
    background-color: #474747
}
.container-song-photo{
    display: flex;
    gap: 20px;
}
.play{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
}
.button-player{
    width: 25px;
    height: 25px;
    background-color: unset;
    border: none;
    background-size: cover;
}
.play-pause::before{
    content: "";
}
.buttons .play-pause{
    cursor: pointer;
}
.buttons #prev{
    cursor: pointer;
}
.buttons #next{
    cursor: pointer;
}
.progress{
    width: 100%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form-label-text{
    font-size: 170%;
    font-family: Furore;
}
.btn-primary:hover{
    background: var(--black);
    border-color: var(--black);
}
.btn-primary:active{
    background: var(--black);
    border-color: var(--black);
    transform: scale(0.95);
}
.form-check-input:checked{
    border-color: var(--blue);
    background-color: var(--blue);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    background-color: var(--blue);
    height: 2px;
    border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: var(--white);
    border-radius: 50%;
    border: 2px solid var(--blue);
}

.form-select{
    width: 20%;
}
.form-select-lg{
    font-size: 0.75rem;
    margin-right: 10px;
}
.active{
    font-family: Montserrat-SemiBold;
}

.progress-area{
    height: 6px;
    width: 40%;
    border-radius: 50px;
    background: var(--grey2);
    cursor: pointer;
    margin-top: 20px;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background-color: var(--blue);
}
.song-timer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d-flex{
    margin-top: 10px;
}
.btn-outline-success {
    --bs-btn-color: var(--white);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--black);
    --bs-btn-hover-border-color: var(--black);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--black);
    --bs-btn-active-border-color: var(--black);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--blue);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--black);
    --bs-gradient: none;
}
.btn-outline-success{
    background-color: var(--blue);
}
.btn-outline-success:active{
    transform: scale(0.95);
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}
.progress-area .song-timer{
    margin-top: 2px;
}
.song-timer span{
    font-size: 13px;
    color: var(--grey);
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@font-face {
    font-family: "Furore";
    src: url("../../src/fonts/Furore.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../../src/fonts/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../src/fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../../src/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}