@media screen and (max-width: 768px) {
  main .count-block {
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {
  header .navbar-collapse {
    background-color: white;
    border: 1px solid #2d2d2d;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 10px;
  }
}
