.icon-music {
    height: 25px;
    width: 25px;
    filter: brightness(0) invert(1);
}

#icon-like, #icon-repeat {
    height: 30px;
    cursor: pointer;
}

#icon-repeat {
    stroke: var(--icon-fill);
}

.selected {
    filter: invert(20%) sepia(39%) saturate(2140%) hue-rotate(354deg) brightness(105%) contrast(101%) !important;
}
