.light-background {
    min-height: 100vh;
}

.card {
    background-color: #f4f1f1d3;
    margin-bottom: 10px;
}

.card-text {
    margin-right: 10px;
}

.header {
    padding-top: 6px;
}

.list-group-item {
    background-color: #f4f1f1d3;
}

.header-list-item {
    background-color: #eeaf51d8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group {
    padding: 0px 15px 0px 15px;
}

.account-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 7%;

}

.account-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.75rem 1.25rem
}

.account-card {
    margin: 15px;
}

.modal-content {
    margin: 30px;
    padding: 10px;    
    width: 80vh;
    height: auto;
}

.modal-card {
    width: 350px;
    min-height: 100px;
}

@media (max-width: 425px) {
    .navbar {
        margin: 0 0.5%;
    }

    .card-text {
        margin: 7px 0;
    }

    .card-header {
        padding: 12px;
    }

}

@media (max-width: 300px) {

    .light-background {
        height: 120vh;
        padding: 0;
    }
}