/* Форма регистрации */

main .registration-form {
  margin-top: 100px;
  margin-bottom: 198px;
}

main .registration-form .registration-name {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  /* 28.475px */
  letter-spacing: 0.75px;
  margin-bottom: 40px;
}

main .registration-form .mb-3 {
  color:  var( --text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  /* 15.946px */
}

main .registration-form .btn-primary {
  margin-top: 50px;
  background: #2d2d2d;
  padding: 19px 158px;
  border-radius: 0;
  border-color: #2d2d2d;
}

main .registration-form .btn-primary:hover {
  background: #a79797;
  border-color: #a79797;
}

main .registration-form .form-check-label {
  color: var( --text-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 107.613%;
  /* 15.066px */
}
