/* Каталог */

main .catalog-headers {
  margin: 55px 0;
}

main .catalog-headers h4 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  letter-spacing: 0.75px;
}

main .catalog-headers .btn-secondary {
  border: none;
  background: none;
  color: #6f6f6f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .catalog-headers .filter {
  color: #6f6f6f;
  font-size: 14px;
  border: none;
  background-color: #fff;
}

main .catalog-headers .parameters {
  gap: 37px;
}

main .card {
  border: none;
  margin-bottom: 80px;
}

main .card .card-body {
  padding-left: 0;
  padding-top: 20px;
}

/* Модальное окно фильтра */

main .modal-content .modal-body {
  margin-bottom: 269px;
}

main .modal-header,
.modal-footer {
  border: none;
}

main .modal-content .pl {
  border: none;
  background: none;
  display: flex;
  margin-top: 21px;
}

main .modal-content .charateristics p {
  margin-top: 24px;
}

main .modal-footer .btn-primary {
  background-color: #2d2d2d;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  letter-spacing: 0.48px;
  border-radius: 0;
  padding: 19px 77px;
}
