html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  /*font-family: 'Playfair Display', serif;*/
  color: #2d2d2d;
}

h5 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  letter-spacing: 0.75px;
  margin-bottom: 30px;
}

header .header {
  padding-top: 20px;
}


header .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  gap: 44px;
}

header .header nav a {
  color: #2d2d2d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-style: normal;
  line-height: 134.4%;
  text-decoration: none;
  transition: 0.5s all ease;
}

header .header nav a:hover {
  color: #a79797;
}

header .header form > div {
  border-bottom: 1px solid #2d2d2d;
  width: 100%;
}

header .header form > div input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
}

header .header form > div input::placeholder {
  color: #6f6f6f;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

header .navbar button:hover {
  border: none;
}

header .header form > div button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  width: 19px;
  height: 19px;
  margin-left: 8px;
}

header .header .icons {
  gap: 4px;
}

header .header .icons a:hover {
  outline: auto;
  outline-color: #2d2d2d;
  outline-offset: 5px;
}

header .header .btn {
  background-color: white;
  color: #2d2d2d;
  border: none;
}

header .header .btn:hover {
  color: #a79797;
  border: none;
  text-decoration: dashed;
}

header .header .carousel {
  width: 100%;
}

header .header .dropdown-item:hover {
  background-color: #a79797;
}

/* Модальное окно корзины */

header .icons .modal-header .my-cart {
  color: #2d2d2d;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  /* 28.475px */
  margin-top: 50px;
  margin-bottom: 40px;
}

header .icons .modal-body {
  gap: 15px;
  margin-bottom: 311px;
}

header .modal-footer .btn-primary {
  border: 1px solid #cecece;
  border-radius: 0;
  padding: 19px 78px;
  margin-top: 20px;
}

main .container {
  margin-top: 115px;
  margin-bottom: 120px;
}

/* Футер */

footer {
  padding: 41px 0 33px;
}

footer .logo a {
  scroll-behavior: smooth;
}

footer {
  border-top: 1px solid #c4c4c4;
}

footer .menu a {
  color: #2d2d2d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-decoration: none;
  margin-bottom: 5px;
  transition: 0.5s all ease;
}

footer .menu a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(111, 111, 111, 0.62);
  color: rgba(111, 111, 111, 0.62);
}

footer .menu .title {
  color: #2d2d2d;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 113.9%;
  /* 20.502px */
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

footer .copyrights {
  color: #cecece;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  /* 14.7px */
  margin-top: 67px;
}

.categories {
  margin-top: 30px;
}

.categories .categories-menu h3 {
  padding-left: 28px;
  padding-right: 15px;
}

.categories .categories-menu {
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 14px;
}

.categories .categories-menu ul li {
  padding-left: 28px;
  padding-right: 15px;
  margin-top: 12px;
}

.categories .categories-menu a {
  color: #2d2d2d;
  text-decoration: none;
}
