/* Оформление заказа */

main .order-form {
  margin-top: 100px;
  margin-bottom: 198px;
}

main .order-name {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  letter-spacing: 0.75px;
  margin-top: 40px;
}

main .order-form .lk-sub-row {
  color: #2d2d2d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;
  letter-spacing: 0.54px;
  margin-bottom: 40px;
}

main .order-form .mb-3 {
  color: #c4c4c4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 113.9%;

}

main .order-form .btn-primary {
  margin-top: 50px;
  background: none;
  padding: 19px 158px;
  border-radius: 0;
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

main .order-form .btn-primary:hover {
  background: #a79797;
  border-color: #a79797;
}

main .count-block .sum {
  border-top: 1px solid #a79797;
  border-bottom: 1px solid #a79797;
  padding: 30px 0;
}

main .making-order .form-check {
  margin-bottom: 22px;
}

main .making-order .cost-delivery {
  margin-bottom: 22px;
  color: #6f6f6f;
}

main .making-order .delivery {

  margin-bottom: 80px;
}

main .making-order .order-form {
  margin-top: 40px;
}

main .making-order .contact-data {
  margin-top: 80px;
}

main .making-order .contact-data .politics {
  margin-top: 21px;
  color: #6f6f6f;
}

main .count-block {
  margin-top: 108px;
}

main .count-block .sum {
  margin-top: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
}
