:root {
    /* background color */
    --bg-gray: #f5f4f2
}

h1 {
    font-size: 2rem !important;
}
h2 {
    font-size: 1.3rem !important; 
}

body {
    background-color: var(--bg-gray) !important;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}
