
.navbar-brand img {
    max-width: 120px;
  }

body {

	font-family: Roboto, sans-serif;
	font-size: 18px;
	color:black;
	background-color:rgb(226, 216, 204);
	min-width: 320px;

  }

img {

	max-width: 100%;
	height: auto;
}

a {

	color:rgb(100, 83, 6);

}

a:hover{

	color: rgb(110, 47, 2);
}

.navbar-light .navbar-nav .nav-link{

	color:rgb(100, 6, 29);
	font-weight: 500;
	text-transform: uppercase;

}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {

	content: 0;
	display: block;
	width: 100%;
	background-color:rgb(100, 6, 29) ;
	height: 1px;
	transition: all .3s;
	transform: scale(0);

}

.top-menu li a:hover::after {

	transform: scale(1);

}

form {
	width: 50%;
	margin: 0 auto; 
  }

  
  input {
	width: 100%; 
  }
  
  label {
	display: block; 
  }

  .form-check-label {
	margin-left: 0; 
  }

  footer {
	color: rgb(100, 83, 6);
	font-size:  15px;

  }

  footer:hover{

	color: rgb(110, 47, 2);
}

.form-group{

	font-size: 18px;
	color:rgb(83, 51, 4);

}
.mb-3{
	font-size: 18px;
	color:rgb(83, 51, 4);

}

.square-box {
	border: 1px solid rgb(141, 111, 4);
	padding: 10px;
	display: inline-block;
	color: rgb(83, 51, 4);
  }

  .btn-primary {
	background-color: rgb(141, 111, 4);
	padding: 10px 20px;
	margin-right: 10px;
  }

  .btn-primary:hover {

	background-color: rgb(83, 51, 4);
  }