<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="footer-img" style="padding-left: 100px;">
      <a href = "https://github.com/Ilya3716" target="_blank">
        <img src="img/git.png"></img>
        </a>
    </li>
    <li class="footer-img">
      <a href = "https://vk.com/ilya_77" target="_blank">
        <img src="img/vk.png"></img>
        </a>
    </li>
    <li class="footer-img">
      <a href = "https://instagram.com/il_ya37?igshid=aHlydWlsZGlkb2Uz" target="_blank">
        <img src="img/inst.png" width="90px" height="90px"></img>
        </a>
    </li>
    <li class="footer-img" style="padding-right: 100px;">
        <a href = "https://t.me/I_lya_77" target="_blank">
          <img src="img/pngwing.com.png" width="90px" height="90px"></img>
          </a>
      </li>
  </ul>