header,
footer {
  background-color: #077015;
}
.nav-item {
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
}
.nav-links {
  text-decoration: none;
  color: #ffd700;
  font-size: xx-large;
  white-space: nowrap;
}
.nav-links:hover {
  color: #ccb325;
}

.cat-item {
  padding-right: 3%;
  padding-bottom: 3%;
}
.cat-img {
  width: 300px;
  height: 400px;
}
.btn-login {
  margin: auto;
  height: 40px;
  display: block;
  background-color: #077015;
  color: #ffd700;
  width: 50%;
  margin-bottom: 15px;
}
.RegObj {
  padding-top: 1.5%;
  color: #077015;
}
.btn-reg {
  background-color: #077015;
  color: #ffd700;
  margin-top: 3%;
  width: 33%;
}
