.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  height: 500px;
  background-color: rgb(41, 40, 40);
  border-radius: 5px;
  color: white;
  font-family: "Montserrat";

  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.customInput {
  width: 100%;
  height: 25px;
  border-radius: 8px;
  background-color: rgb(71, 71, 71);
  border: none;
  color: white;
}

.inputOption {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionText {
  font-size: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signButton {
  background-color: rgb(92, 92, 216);
  width: 150px;
  border: none;
  color: white;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
}
