{
  "extends": [
    "react-app"
  ],
  "rules": {
    "no-console":"warn",
    "quotes":["error", "double"],
    "jsx-quotes":["error", "prefer-double"],
    "prefer-const":"warn",
    "import/order": "warn"
  }
}