.light-background {
    min-height: 100vh;
}

.table_title {
    padding: 50px 16px;
}

.search-container, .list-container {
    margin: 5px 0;

}

.card {
    background-color: #f4f1f1d3;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-text {
    margin-right: 10px;
}


.btn-outline-custom {
    margin: 7px 10px 7px 0;
}

.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.btn-outline-custom:hover {
    background-color: #d48714;
}

.form-control {
    margin-bottom: 7px;
    margin-right: 8px;
}

.account-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.75rem 1.25rem
}

.table-container {
    margin: 0 5%;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -10px;
}

@media (max-width: 425px) {
    .navbar {
        margin: 0 0.5%;
    }

    .table-container {
        margin: 0 0.5%;
    }

    .card-text {
        margin: 7px 0;
    }

    .card-header {
        padding: 12px;
    }

    .card-body {
        padding: 12px;

    }
}

